{{ define "title" }}
{{ .Site.Title }} &ndash; {{ .Title }}
{{ end }}

{{ define "main" }}
<div class="container main-content">

    {{/* Workshops overview */}}
    
    <h2>Online + Global | Workshop Dates: September 11-12</h2>

    <h2>REALIGNMENTS: Toward Critical Computation</h2>

    <a href="https://bit.ly/ACADIA-2021-Workshops-Gallery" style="text-decoration: none; color: inherit" ><h1>Visit the Workshops Exhibition:</h1></a>
    <br/>
    <a href="https://bit.ly/ACADIA-2021-Workshops-Gallery"><img class="img-fluid" style="width: auto;" src="./Workshops-Exhibition.jpeg"/></a>
    <br/>
    <br/>
    <br/>


    {{.Content}}

    {{ $workshops := sort (.Resources.Match "workshops/*") ".Name" }}
    {{/* Table of contents */}}
    <ul>
        {{ range $index, $w := $workshops }}
        <li>
            <a href="#{{- .Params.name | anchorize -}}">
                Workshop {{add 1 $index}} - {{ .Params.name }}
            </a>
        </li>
        {{ end }}
    </ul>
    <img class="img-fluid" style="width: 10%; margin-bottom: 2rem;" src="./AIA.jpg" />

    {{/* Workshops proper */}}
    {{ range $workshops }}
    {{/* {{ . | jsonify (dict "indent" " ") }} */}}
    {{ .Scratch.Set "workshop-id" (.Params.name | anchorize) }}
    {{ partial "workshop" . }}
    {{ end }}

</div>
{{ end }}